.about{
    height: 1000px;
    display: flex;
    background:#E4D9D8;
}
.side ul {
    border:solid 0px;
    height: 1000px;
    width: 250px;
    background: linear-gradient(90deg , #404040,#404042);
}
.about h1{
    padding:50px;
    font-family: 'Rubik', sans-serif;
    height: 100px;
}
.about h4{

padding: 50px 50px 0px;
    font-family: 'Fira Sans', sans-serif;
}
.about-text{
    display: block;
}